<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="rowAdd">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->


			<% if (locals.user =! undefined) { %>

				<form class="formAdd" action="/" method="get">
				
					<input type="file" name="imagen" class="seleccionar" value="" > 
					<input type="text" name="producto" id="add" value="" placeholder="Nombre"> 
					<input type="text" name="descripcion" id="add" value="" placeholder="Descripcion"> 
	
					<button class="botonAdd" type="submit">Cargar</button>
	
				</form>
				
			<% } %>
			


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>