<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="rowRegister">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- formulario -->
			<form class="formRegister" action="/users/login" method="get">
				
				<input type="email" name="email" id="register" placeholder="Email" required> 
				<input type="text" name="usuario"  id="register" placeholder="Nombre de Usuario" required> 
				<input type="password" name="contraseña"  id="register" placeholder="Contraseña" required> 
				<input type="date" name="fecha"  id="register" placeholder="Fecha de Nacimiento" required>
				<input type="number" name="dni"  id="register" placeholder= "Documento" required> 
				<input type="text" name="foto"  id="register" placeholder= "Foto de Perfil" required> 

				<button type="submit" class="botonRegister">Registrarse</button>

			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>